<!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active first">
        <div class="container">
          <div class="carousel-caption">
            <h1>Rabo preso: Anatel</h1>
            <p>Linha fina</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->
  <div class="container">
    <div class="featurette row">
      <div class="col-md-5">
        <h1>Porque a Anatel é importante?</h1>
        <p class="lead">Ela regula o 5º maior mercado mundial de celulares e também em número de usuários de internet</p>
      </div>
      <div class="col-md-7">
        <iframe src="http://cf.datawrapper.de/QbMyL/1/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="600" height="400"></iframe></div>
      </div>
      <hr class="featurette-divider">
      <div class="featurette row">
        <div class="col-md-7">
          <iframe height="371" width="600" src="http://docs.google.com/spreadsheets/d/1wdg33i2L81og5eKZuRVkgwPqx5llCygMHv7V2Cukgoc/gviz/chartiframe?oid=1433408161" seamless frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-md-5">
          <p class="lead">A taxa de crescimento em celulares, 8,9%/ano, só perde para China e Indonésia</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="featurette row">
        <div class="col-md-7">
          <iframe height="371" width="600" src="http://docs.google.com/spreadsheets/d/1wdg33i2L81og5eKZuRVkgwPqx5llCygMHv7V2Cukgoc/gviz/chartiframe?oid=754576309" seamless frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-md-5">
          <p>Esse enorme é mercado é dominado por poucas companhias e existe o risco de fusão entre algumas destas</p>
        </div>
      </div>
      <div class="featurette">
        <p>Em um cenário como esse deveria haver uma distância entre o Conselho Diretor da Anatel e os executivos destas companhias. Mas não é isso que acontece ...</p>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
       <h1>Quem são?</h1>
       <div class="filters">
         <h4>Por indicação:</h4>
         <label><input type="checkbox" name="" value="FHC"> Fernando Henrique (PSDB)</label>
         <label><input type="checkbox" name="" value="Lula"> Lula (PT)</label>
         <label><input type="checkbox" name="" value="Dilma"> Dilma (PT)</label>
       </div>
       <div class="row">
         <div class="col-md-8">
           <div class="col-md-2 conselheiro" id="conselheiro-0">
             <div class="nome">
               Nome do conselheiro
             </div>
           </div>
         </div>
         <div class="col-md-4 ficha">
           <div class="">
             <h3>Renato Navarro Guerreiro</h3>
             <strong>Quem indicou:</strong> FHC<br>
             <strong>Quando entrou:</strong> 05/11/1997<br>
             <strong>Quando saiu:</strong> 05/11/2000<br>
             Engenheiro eletricista com especialização em Telecomunicações pela Pontifícia Universidade Católica do Rio de Janeiro (PUC-RJ)
             <h5>ONDE TRABALHOU ANTES</h5>
             <ul>
              <li>
                <h5>Empresa</h5>
                Cargo<br>
                Período
              </li>
            </ul>
            <h5>ONDE TRABLHOU DEPOIS</h5>
            <ul>
              <li>
                <h5>Empresa</h5>
                Cargo<br>
                Período
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>